img {
  max-width: 800px;
}
figure{
  margin: 2rem !important;
  display: flex; flex-direction: column;
  align-items: center;
}
.table-div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 300px; height: 200px
}

.img_rw100, .fig_rw50{
  height: auto; max-width: 100%;
  object-fit: contain;
}
.img_rw100{ max-width: 100%;}
.fig_rw50 { max-width: 50%;}

.fig_hscroll{
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.tg  {
  border-spacing:0; margin: 0 auto;
  margin: 2rem auto;
}
.tg .tg-nrix{
  text-align:center;
  vertical-align:middle
}
